body {
    margin: 0px auto;
    text-align: center;
}

.centrado {
    margin: 0px auto;
}

#respuesta {
    color: rgb(218, 122, 122);
}

#verde,
#amarillo,
#rojo,
#azul {
    width: 200px;
    height: 200px;
    display: inline-block;
}

#rojo {
    background-color: red;
}

#azul {
    background-color: blue;
}

#amarillo {
    background-color: yellow;
}

#verde {
    background-color: green;
}